* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #ABABAB;
  display: grid;
  place-items: center;
  height: 100vh;
  margin-top: -10rem;
}

.container {
  background-color: #FFFFFF;
  padding: 12.4rem 20.4rem 8rem;
  border-radius: .6rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
  text-align: center;
}

.values-user form{
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-bottom: 5.4rem;
  gap: 3rem;
}

label {
  display: flex;
  flex-direction: column;
}

label span {
  margin-bottom: .5rem;
}